* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-weight: 600;
}


nav {
    display: flex;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 1000;
    align-items: center;
    justify-content: space-around;
    border-bottom: #3B82F6 1px solid;
}

nav>a>img {
    width: 300px;
    height: auto;
}



.menu {
    text-decoration: none;
    color: #ffd00e;
    font-size: 1.4em;
    padding: 5px 10px;

}

.tema:hover {
    color: #3B82F6;
}

.banner>img {
    width: 100%;
    margin-top: 25px;

}